{% include 'public_header.html' %}


    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="static/images/img4.avif" alt="" data-aos="fade-in">
  
        <div class="container">
          <h2 data-aos="fade-up" data-aos-delay="100" >Learning Today,<br>Leading Tomorrow</h2>
          <p data-aos="fade-up" data-aos-delay="200" >Educational Resource Management System</p>
        </div>
  
      </section><!-- /Hero Section -->
  
      <!-- About Section -->
      <section id="about" class="about section">
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
              <img src="static/images/img8.avif" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200" >
              <h3 style="color: blueviolet;">ERMS</h3>
              <p class="fst-italic" style="color: blueviolet;">
                Educational Resource Management System
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>This system will enhance the accessibility of educational materials and support for students.</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Teachers upload daily lecture notes, enabling students who miss classes to access and study the content promptly.</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Students can interact with teachers via chat to clarify doubts about the notes and leave comments. </span></li>
              </ul>
            </div>
  
          </div>
  
        </div>
  
      </section><!-- /About Section -->


{% include 'footer.html' %}